$bg-color: #03240d;

$color-8: rgb(240, 240, 240);
$accent-color: #5dca81;
$hover-color: rgb(63, 115, 203);
$btn-color: #00c340;
$primary-color: #fc2901;
$panel-color: #f8f8f8;
$panel-color-text: rgb(156, 155, 155);

$color-5: rgb(17, 18, 19);

$font-heading-scale: 1;
