$primary-color: rgb(199, 61, 35);
$secondary-color: rgb(63, 115, 203);
$foreground-color: rgb(55, 126, 98);
$background-color: rgb(204, 204, 204);
$bg-color: #03240d;
$color-5: rgb(17, 18, 19);
$color-6: rgb(246, 197, 103);
$color-7: rgb(121, 202, 216);
$color-8: rgb(240, 240, 240);
$font-heading-scale: 1;
