<section class="comment">
  <div class="container">
    <h2 class="comment__title">
      What People Are Saying About ChatGPT Booster Prompts:
    </h2>

    <div class="comment-wrapper">
      <div class="image-wrapper-1 image">
        <img src="./images/2-1678253984008.webp" alt="" />
      </div>
      <div class="image-wrapper-2 image">
        <img src="./images/3-1678253984032.webp" alt="" />
      </div>
    </div>

    <div class="image-wrapper-3 image">
      <img src="./images/4-1678253984077.webp" alt="comment" />
    </div>

    <div class="comment-wrapper-bottom">
      <div class="image-wrapper-4 image">
        <img src="./images/5-1678253984103.webp" alt="comment" />
      </div>
      <div class="image-wrapper-5 image">
        <img src="./images/6-1678253984138.webp" alt="comment" />
      </div>
      <div class="image-wrapper-6 image">
        <img src="./images/7-1678253984174.webp" alt="comment" />
      </div>
    </div>
  </div>
</section>
