<section class="comment">
  <div class="container">
    <h2 class="comment__title">
      What People Are Saying About ChatGPT Booster Prompts:
    </h2>

    <ul>
      <li>
        <img src="./images/2-1678253984008.webp" alt="" height="100px" />
      </li>
      <li>
        <img src="./images/3-1678253984032.webp" alt="" />
      </li>
      <li>
        <img src="./images/4-1678253984077.webp" alt="" />
      </li>
      <li>
        <img src="./images/5-1678253984103.webp" alt="" />
      </li>
      <li>
        <img src="./images/6-1678253984138.webp" alt="" />
      </li>
      <li>
        <img src="./images/7-1678253984174.webp" alt="" />
      </li>
    </ul>
  </div>
</section>
