<section class="hints">
  <div class="container">
    <img
      src="./images/asset-2logo-1677840019872.png"
      alt="title"
      class="image-title"
    />

    <h2>
      🔐 Unlock Your Marketing Potential With Our Proven And Tested ChatGPT
      Prompts
    </h2>

    <div>
      <video src="#"></video>
    </div>

    <div class="price">
      <p class="old-price">$33.2</p>
      <p class="new-price">$9.96</p>
    </div>

    <p class="discount">
      <span style="background-color: red">
        Save $24 - But only until april 30
      </span>
    </p>

    <a href="#" class="btn">GET ChatGPT Booster</a>

    <p>“The biggest collection of ChatGPT prompts on the planet”</p>

    <ul>
      <li>Collection1: Mastering ChatGPT</li>
      <li>Collection2: ChatGPT Business Tools</li>
      <li>Collection3: Email Marketing</li>
      <li>Collection4: Funnel Building</li>
      <li>Collection5: Website & Ecommerce</li>
      <li>Collection6: Affiliate Marketing</li>
      <li>Collection7: Facebook Marketing</li>
      <li>Collection8: YouTube Marketing</li>
      <li>Collection9: Customer Service</li>
      <li>Collection10: SMS Marketing</li>
      <li>Collection11: Podcast Marketing</li>
      <li>Collection12: ChatGPT for LinkedIn</li>
      <li>Collection13: ChatGPT for Twitter</li>
      <li>Collection14: ChatGPT for TikTok</li>
      <li>Collection15: Copywriting Assistant</li>
    </ul>
  </div>
</section>
