<section class="hints">
  <div class="container">
    <img
      src="./images/asset-2logo-1677840019872.png"
      alt="title"
      class="image-title"
    />

    <h2 class="hints__title">
      🔐 Unlock Your Marketing Potential With Our Proven And Tested ChatGPT
      Prompts
    </h2>

    <p class="hints__description">
      “The biggest collection of ChatGPT prompts on the planet”
    </p>

    <div class="hints__collections">
      <div class="hints__right">
        <div class="iframe-wrapper">
          <iframe
            src="https://www.youtube.com/embed/dIC1rv4SX_Y"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>

        <div class="price hints__price">
          <p class="old-price">$33.2</p>
          <p class="new-price">$9.96</p>
        </div>

        <p class="discount hints__discount">
          <span> Save $24 - But only until april 30 </span>
        </p>

        <a href="#" class="btn">GET ChatGPT Booster</a>
        <p class="after-description">
          You will receive the checklist immediately after payment
        </p>
      </div>

      <ul class="hints__list">
        <li class="hints__item">Collection1: Mastering ChatGPT</li>
        <li class="hints__item">Collection2: ChatGPT Business Tools</li>
        <li class="hints__item">Collection3: Email Marketing</li>
        <li class="hints__item">Collection4: Funnel Building</li>
        <li class="hints__item">Collection5: Website & Ecommerce</li>
        <li class="hints__item">Collection6: Affiliate Marketing</li>
        <li class="hints__item">Collection7: Facebook Marketing</li>
        <li class="hints__item">Collection8: YouTube Marketing</li>
        <li class="hints__item">Collection9: Customer Service</li>
        <li class="hints__item">Collection10: SMS Marketing</li>
        <li class="hints__item">Collection11: Podcast Marketing</li>
        <li class="hints__item">Collection12: ChatGPT for LinkedIn</li>
        <li class="hints__item">Collection13: ChatGPT for Twitter</li>
        <li class="hints__item">Collection14: ChatGPT for TikTok</li>
        <li class="hints__item">Collection15: Copywriting Assistant</li>
      </ul>
    </div>
  </div>
</section>
