<section class="master">
  <div class="container">
    <h2 class="master__title">
      Are You Ready To Master The #1 Tool That Will Shape Business And Marketing
      Forever?
    </h2>

    <ul class="master__list">
      <li class="master__item">
        <p class="master__number">1</p>
        <p>Get the biggest collection of ChatGPT prompts on the planet.</p>
      </li>
      <li class="master__item">
        <p class="master__number">2</p>
        <p>Read the ChatGPT guide you get with ChatGPT Booster.</p>
      </li>
      <li class="master__item">
        <p class="master__number">3</p>
        <p>Copy and paste prompts in ChatGPT to get impressive results.</p>
      </li>
      <li class="master__item">
        <p class="master__number">4</p>
        <p>
          Once you have your desired results, use it to grow your or your
          clients business.
        </p>
      </li>
    </ul>
  </div>
</section>
