<section class="questions">
  <div class="container">
    <h2>Have More Questions? Here Are Your Answers</h2>

    <ul>
      <li>Why do I need prompts when I can come up with ideas myself?</li>
      <li>Who is this prompt pack for?</li>
      <li>
        How is this different from other prompt packs or YouTube videos out
        there?
      </li>
      <li>Will this help me with other platforms like Bard or ChatSonic?</li>
      <li>How will I access my prompts?</li>
      <li>I’ve still got questions.</li>
    </ul>
  </div>
</section>
