<section class="questions">
  <div class="container">
    <h2 class="questions__title">Have More Questions? Here Are Your Answers</h2>

    <button class="questions__item-description">
      Why do I need prompts when I can come up with ideas myself?
    </button>

    <div class="panel">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas eum
        cumque commodi dolorem voluptatem iure. Consectetur dignissimos illum
        quis! Quae consequatur quis dolorem doloremque id dignissimos nisi esse
        provident accusamus!
      </p>
    </div>

    <button class="questions__item-description">
      Who is this prompt pack for?
    </button>

    <div class="panel">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas eum
        cumque commodi dolorem voluptatem iure. Consectetur dignissimos illum
        quis! Quae consequatur quis dolorem doloremque id dignissimos nisi esse
        provident accusamus!
      </p>
    </div>

    <button class="questions__item-description">
      How is this different from other prompt packs or YouTube videos out there?
    </button>

    <div class="panel">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas eum
        cumque commodi dolorem voluptatem iure. Consectetur dignissimos illum
        quis! Quae consequatur quis dolorem doloremque id dignissimos nisi esse
        provident accusamus!
      </p>
    </div>

    <button class="questions__item-description">
      Will this help me with other platforms like Bard or ChatSonic?
    </button>

    <div class="panel">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas eum
        cumque commodi dolorem voluptatem iure. Consectetur dignissimos illum
        quis! Quae consequatur quis dolorem doloremque id dignissimos nisi esse
        provident accusamus!
      </p>
    </div>

    <button class="questions__item-description">
      How will I access my prompts?
    </button>

    <div class="panel">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas eum
        cumque commodi dolorem voluptatem iure. Consectetur dignissimos illum
        quis! Quae consequatur quis dolorem doloremque id dignissimos nisi esse
        provident accusamus!
      </p>
    </div>

    <button class="questions__item-description">
      I’ve still got questions.
    </button>

    <div class="panel">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas eum
        cumque commodi dolorem voluptatem iure. Consectetur dignissimos illum
        quis! Quae consequatur quis dolorem doloremque id dignissimos nisi esse
        provident accusamus!
      </p>
    </div>
  </div>
</section>
