<section class="timing">
  <div class="container">
    <img
      src="./images/asset-3logo-1677839994423.webp"
      alt="title"
      class="image-title"
    />
    <p class="timing__description">
      Imagine How Much <span class="highlight">Money</span> And
      <span class="highlight">Freedom</span> Would All Those Hours Represent?
    </p>

    <img src="./images/savetime-1677602003645.webp" alt="savetime" />

    <p class="specification">
      That’s how much
      <b>Time per Week</b> an average marketer or business owner can save per
      week by utilizing ChatGPT to its <b>Full Potential</b>…
    </p>
  </div>

  <a href="#" class="btn">BUY ChatGPT Booster</a>
</section>
