.header {
  padding: 10px 0 0;
  background-color: $bg-color;

  @media screen and (min-width: 768px) {
    padding: 20px 0;
  }
}
.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
  justify-content: space-between;
  animation: slider 10s infinite alternate cubic-bezier(0.83, 0, 0.21, 0.99);

  @media screen and (max-width: 767px) {
    width: 700px;
  }

  @media screen and (min-width: 768px) {
    width: 1000px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.paragraph {
  font-size: 15px;
  font-weight: 800;
  color: $color-8;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  @keyframes slider {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(-470px);
    }
  }
}

@media screen and (min-width: 768px) {
  @keyframes slider {
    0% {
      transform: translateX(180px);
    }

    100% {
      transform: translateX(-520px);
    }
  }
}

@media screen and (min-width: 1200px) {
  @keyframes slider {
    0% {
      transform: translateX(380px);
    }

    100% {
      transform: translateX(-525px);
    }
  }
}
